@font-face {
    font-family: "Monospace";
    font-weight: 400;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
@font-face {
    font-family: "Monospace";
    font-weight: 700;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}
*{
  font-family: "Monospace",monospace;
  font-weight: 400;
  outline: none;
  border: 0;
}
html,body{
  background: black;
  color: #cccccc;
  line-height: 1em;
  font-family: "Monospace",monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
body{
  font-size: 16px;
}
b{
  color: white;
}
::selection{
  background: black !important;
  color: #ffffff !important;
}
.container{
  position: fixed;
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
}
#input,
#help{
  font-family: "Monospace",monospace !important;
  color: #cccccc;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  width: 100%;
  height: calc(100% - 5em);
  position: absolute;
  top: 2em;
  left: 0;
  border: 0;
  background: transparent;
  outline: none;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
  text-transform: none;
}
.mapping #input{
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
}
#help{
  display: none;
  pointer-events: none;
  z-index: 2;
  background: black;
}
#help.is-active{
  display: block;
}
#input span{
  font-family: "Monospace",monospace !important;
}
.header{
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  width: 100%;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  user-select: none;
  /* pointer-events: none; */
}
.header .left{
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  padding-right: 1em;
}
.header .center{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 0 1em;
}
.header .right{
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  padding-left: 1em;
  text-align: right;
}
#transport{
  margin-left: 0.4em;
  transform: translateY(0.05em);
  width: 0.8em;
  height: 0.8em;
  background-image: url("./img/play.png");
  background-size: contain;
  background-position: center;
  display: inline-block;
}
.running #transport{
  background-image: url("./img/pause.png");
}
.stopped #transport{
  background: red;
  background-image: url("./img/stop.png");
}
.footer{
  line-height: 1em;
  width: 100%;
  height: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  /* overflow: hidden; */
  user-select: none;
  /* pointer-events: none; */
}
.footer .left{
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  padding-right: 1em;
}
.footer .center{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 0 1em;
}
.footer .right{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  padding-left: 1em;
  text-align: right;
}
#output{
  color: #ffffff;
}
#tempo{
  color: #ffffff;
}
#operators{
  color: #ffffff;
  display: none;
}
#filename{
  min-width: 12px;
  display: inline-block;
  color: #ffffff;
}
.shortcut{
  color: #888888;
}
@media (max-width: 912px){
  .shortcut,
  .detail,
  .header .center,
  .ui-break{
    display: none;
  }
  .footer .center{
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: auto;
    transform: none;
    padding: 0;
  }
}
