@font-face {
    font-family: "Monospace";
    font-weight: 400;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
@font-face {
    font-family: "Monospace";
    font-weight: 700;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}
*{
  font-family: "Monospace",monospace;
  font-weight: 400;
}
html,body{
  background: blue;
  color: white;
  font-size: 16px;
  line-height: 1rem;
  font-family: "Monospace",monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
::selection{
  background: black !important;
  color: white !important;
}
.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 0.1rem solid white;
}
.header{
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: 1rem;
  border-bottom: 0.1rem solid white;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}
#input{
  color: white;
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 8.4rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 0;
  background: transparent;
  outline: none;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
}
#input .mapping{
  color: grey;
}
#input .symbol{
  color: white;
}
#input .symbol.unknown{
  color: red;
}
.footer{
  width: calc(100% - 2rem);
  padding: 1rem;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 0.1rem solid white;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}
#transport{
  width: 1rem;
  height: 1rem;
  background-image: url("./img/play.png");
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.running #transport{
  background-image: url("./img/pause.png");
}
.stopped #transport{
  background: red;
  background-image: url("./img/stop.png");
}
#tempo{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
